.booking-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.form-grid {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  grid-column: span 2;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.full-width {
  grid-column: span 2;
}

button[type="submit"] {
  background-color: #495e57;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #6b8076;
}
